@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;800&display=swap');



* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'League Spartan', sans-serif;
    /* font-size: 1em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    /* background-color: yellow; */
}

.Container {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.Flex {
    display: flex;
    /* background-color: green; */
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;

}

.flexRating {
    display: flex;
    flex-direction: column;

}

h2 {
    color: hsl(300, 43%, 22%);
    max-width: 200px;
    font-size: 30px;
}

.ratingContainer {
    background-color: hsl(300, 33%, 94%);
    border-radius: 7px;
    display: flex;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.containerProfiles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#profileImg {
    border-radius: 50px;
    max-width: 40px;
}

.containerRoxo {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 25px 15px;
    width: 280px;

    /* max-height: 150px; */
}

.flexNomeImagem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#paragrafo1 {
    margin-top: 10px;
    line-height: 20px;
}

.nomeFlex{
    margin-left: 15px;
}

#review{
    color: #fff; 
    line-height: 15px; 
    margin-top: 10px;
    font-size: 13px;  
}

#nome{
    color: #fff;
    font-size: 16px;
    font-weight: 400px;
}

#categoria{
    color: hsl(333, 80%, 67%);
    font-size: 14px;
    
}

/* SMARTHONE ----------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media(min-width: 375px) {
    .Container {
        max-width: 330px;
        margin-top: 40px;

    }

    .flexRating {}

    .Flex {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    .Flex2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* background-color: white; */
        /* max-height: 800px; */
    }

    .ratingContainer {
        display: flex;
        flex-direction: column;
        padding: 20px 45px;
        margin: 5px;
        justify-content: center;
        align-items: center;
    }

    #paragrafoRating {
        margin-top: 7px;
    }

    #paragrafo1 {

        max-width: 300px;
    }

    .containerProfiles {
        display: flex;
        flex-direction: column;
    }

    .containerRoxo {
        margin: 3px 0px;
        padding: 19px;
    }
}


/* PC ----------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media(min-width: 1200px) {
    .Container {
        max-width: 1200px;
    }

    .Flex {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: unset;
        text-align: unset;
    }

    .Flex2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* background-color: white; */
        justify-content: space-between;
        /* max-width: 1000px; */
    }

    #paragrafo1 {
        max-width: 400px;
        /* line-height: 5px; */
    }

    .ratingContainer {
        display: flex;
        flex-direction: row;
        width: 330px;
    }

    .containerProfiles {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .flexRating {
        align-items: baseline;
    }

    #rate2 {
        margin-left: 70px;

    }

    #rate3 {
        margin-left: 140px;
    }

    #paragrafoRating{
        margin-left: 15px;
    }

    .containerRoxo{
        height: 100px;
        padding: 25px;
    }
    .wholeRating{
        margin-left: 30px;
    }

    #paraBaixo1{
        margin-top: 25px;
    }
    #paraBaixo2{
        margin-top: 45px;
    }
}